{% load static %}
<div class="container">
        
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <h3>Olá {{ user.username }}</h3>  

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Página Incial</a></li>
        <li><a href="{% url 'dados' %}" class="nav-link px-2 link-dark">Dados da empresa</a></li>
        <li><a href="{% url 'sobre' %}" class="nav-link px-2 link-dark">Sobre nos</a></li>
        <li><a href="{% url 'categoria' %}" class="nav-link px-2 link-dark">Categorias</a></li>
        <li><a href="{% url 'produto' %}" class="nav-link px-2 link-dark">Produtos</a></li>
      </ul>
  
      <div class="col-md-3 text-end">
        <a type="button" class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Logout</a>
      </div>
    </header>

</div>
