{% load static %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'manutencao' %}">
        <h3>Olá {{ user.username }}</h3>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCabecalho" aria-controls="navbarCabecalho" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarCabecalho">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'home' %}">Página Incial</a>
          <a class="nav-link" href="{% url 'dados' %}">Dados da empresa</a>
          <a class="nav-link" href="{% url 'sobre' %}">Sobre nos e imagens</a>
          <a class="nav-link" href="{% url 'categoria' %}">Categorias</a>

        </div>
      </div>

      <div class="text-end">
        <a type="button" class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Logout</a>
      </div>
      
    </div>
  </nav>
</div>