<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block content %}

  <body>
    <header> 

      {% include 'partials/_cabecalho.html' %}

    </header>
    <main>

      <div class="container" style="margin-bottom: 20px;">
        <div class="col-lg-8 offset-lg-2">

          <form class="row" action="{% url 'categoria' %}" method="POST">
            {% csrf_token %}
            <h4 class="text-center">Criar e editar Categorias</h4>

            <div class="col-sm-6">
              <label for="criarcategoria" class="form-label">Criar nova categoria </label>
              <input type="text" class="form-control" name="criarcategoria" placeholder="Nome da categoria">
            </div>

            <div class="col-sm-6" style="padding-top: 30px;">
              <button class="w-100 btn btn-outline-primary" type="submit">Criar</button>
            </div>    
            {% include 'partials/_alertas.html' %}
          </form>

          <hr>

          {% if categorias %}
          {% for categoria in categorias %}
          <div class="container border border-success col-8 offset-lg-2" style="margin-bottom: 10px; ">
            <a href="{% url 'editacategoria'  categoria.id %}" class="row pb-3 text-decoration-none text-center">
              <div>
                <h6 style="color: black;">{{ categoria.nome_da_categoria }}</h6>
                <h6 class="fw-light" style="color: black;">Clique aqui para editar ou excluir a categoria</h6>
              </div>
            </a>
          </div>
          {% endfor %}
          {% else %}
          {% endif %}


        </div>
      </div>

    </main>

  </body>
</html>

{% endblock %}