<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Dados da empresa{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block content %}

  <body>
    <header> 

      {% include 'partials/_cabecalho.html' %}

    </header>
    <main>

      <div class="container" style="margin-bottom: 20px;">
        <div class="col-lg-8 offset-lg-2">

          <h4 class="text-center">Dados da Empresa</h4>

          <form class="row g-3" action="{% url 'dados' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          
            <div class="col-sm-6">
              <label for="nomedaempresa" class="form-label">Nome da Empresa </label>
              <input type="text" class="form-control" name="nomedaempresa" id="nomedaempresa" placeholder="A arrumar"><!--#TODO-->
            </div>

            <div class="col-sm-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="A arrumar you@example.com"><!--#TODO-->
            </div>

            <div class="col-sm-2">
              <label for ="ddd" class="form-label">DDD</label>
              <input type="text" class="form-control" name="ddd" placeholder="A arrumar"> <!--#TODO-->
            </div>

            <div class="col-sm-5">
              <label for="telefone1" class="form-label">Telefone 1</label>
              <input type="text" class="form-control" name="telefone1" id="telefone1" placeholder="A arrumar (xx) xxxx-xxxx"><!--#TODO-->
            </div>

            <div class="col-sm-5">
              <label for="telefone2" class="form-label">Telefone 2</label>
              <input type="text" class="form-control" name="telefone2" id="telefone2" placeholder="A arrumar (xx) x.xxxx-xxxx"><!--#TODO-->
            </div>
  
            <div class="col-sm-12">
              <label for="endereco" class="form-label">Endereço</label>
              <input type="text" class="form-control" name="endereco" id="endereco" placeholder="A arrumar" ><!--#TODO-->
            </div>

            <div class="col-sm-12">
              <label for="geoloca" class="form-label">Geolocalização (endereço no mapa)</label>
              <input type="text" class="form-control" name="geoloca" id="geoloca" placeholder="A arrumar" > <!--#TODO-->
            </div> 

            <div class="col-sm-1">
              <label for="estado" class="form-label">Estado</label>
              <input type="text" class="form-control" name="estado" id="estado" placeholder="PE"><!--#TODO-->
            </div>

            <div class="col-sm-4">
              <label for="cidade" class="form-label">Cidade</label>
              <input type="text" class="form-control" name="cidade" id="cidade" placeholder="A arrumar"><!--#TODO-->
            </div>

            <div class="col-sm-7">
              <label for="logo" class="form-label">Logomarca da Empresa</label>
              <input type="file" class="form-control" id="logo" name="logo">              
            </div>               

            <div>
              <button class="w-100 btn btn-outline-primary btn-lg" type="submit">Atualizar dados</button>
            </div>    

          </form>

        </div>
      </div>
      

    </main>

  </body>
</html>

{% endblock %}