<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Bloco que define o titulo na pagina-->
{% block title %}Seleção de categoria{% endblock %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block content %}

  <body>
    <header> 

      {% include 'partials/_cabecalho.html' %}

    </header>
    <main>

      <div class="container" style="margin-bottom: 20px;">
        <div class="col-lg-8 offset-lg-2">

          <h4 class="text-center" style="margin-bottom: 20px;">Criar e editar Produtos</h4>
          

          {% if categorias %}
          {% for categoria in categorias %}
          <div class="container border border-success col-8 offset-lg-2" style="margin-bottom: 10px; ">
            <a href="{% url 'editaprodutos' categoria.id %}" class="row pb-3 text-decoration-none text-center">
              <div>
                <h6 style="color: black;">{{ categoria.nome_da_categoria }}</h6>
                <h6 class="fw-light" style="color: black;">Clique aqui para criar, editar ou excluir produtos desta categoria</h6>
              </div>
            </a>
          </div>
          {% endfor %}
          {% else %}
          {% endif %}
          
           <!-- Paginação -->
           <section class="top-catagory-area section-padding-20-0 ">
            <div class="container ">

              {% if categorias.has_other_pages %}
              <ul class="pagination justify-content-end">

                  {% if categorias.has_previous %}
                  <li class="page-item">
                      <a href="?page= {{ categorias.previous_page_number }}" class="page-link">&laquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link">&laquo;</a>
                  </li>
                  {% endif %}
                  
                  {% for pagina in categorias.paginator.page_range %}
                  {% if categorias.number == pagina %}                    
                  <li class="page-item active">
                      <a class="page-link">{{ pagina }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a href="?page={{ pagina }}" class="page-link">{{ pagina }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}

                  {% if categorias.has_next %}
                  <li class="page-item">
                      <a href="?page={{ categorias.next_page_number }}" class="page-link">&raquo;</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                      <a class="page-link">&raquo;</a>
                  </li>
                  {% endif %}

              </ul>
              {% endif %}
            </div>
          </section>

        </div>
      </div>

    </main>

  </body>
</html>

{% endblock %}