<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block content %}

  <body>
    <header> 

      {% include 'partials/_cabecalho.html' %}

    </header>

    <main>
    
      <div class="container">
        <form>
          <div class="mb-3" >
            <h5 class="text-center">
              Empresa
              {{ TextoEmpresa.texto.1 }}
            <textarea class="form-control" id="empresatexto" rows="3" placeholder="{{ sobre_nos.texto }}"></textarea>
          </div>
        </form>
      </div>

    </main>

  </body>
</html>

{% endblock %}