<!--Para avisar que a pagina é uma extenção da base.html-->
{% extends 'base.html' %}

<!--Para carregar os arquivos estaticos na pagina.-->
{% load static %}

<!--Para indicar qual bloco será inserida no base.html-->
{% block content %}

<body>

    <header class="sticky-top">

        <div id="top"></div>
        <div class="container-fluid " style="background-color: #363435; ">
            <div class="container ">
            
                <!--Cabeçalho-->
                <div class="d-none d-lg-block" >
                    <div class="row" >
                        <div class="col-md-5"><img src="{{empresa.logo.url}}" class="img-fluid" style="margin-top: 20px; margin-left: 0px"></div> <!--#TODO Arrumar quando não tiver item--> <!--A class img-fluid serve para subistituir a antiga,img-responsive, que dava a responsividade da imagem-->
                        <div class="col-md-3"></div>
                        <div class="col-md-4" style="color: #E89B49; margin-top: 20px; padding-right: 15px; padding-left: 15px">
                            <p style="margin-top: 0; margin-bottom: 0; font-size: 17px;">Interessado?</p>
                            <p style="margin-top: 0; margin-bottom: 0; font-size: 17px;">Entre em contato conosco também pelos telefones abaixo:</p> 
                            {% if empresa.telefone1 and empresa.ddd %}
                                <p style="font-size: 18px; margin-bottom: 0; font-weight: bold;">+55 ({{empresa.ddd}}) {{empresa.telefone1}} 
                                    {% if empresa.telefone2 %}
                                        | {{empresa.telefone2}}</p>
                                    {% endif %} 
                            {% else %}
                                <p style="font-size: 18px; margin-bottom: 0;">AVISO: Sem telefone 1 ou DDD.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!--Navbar-->
                <nav class=" navbar navbar-expand-lg navbar-dark ">
                
                    <!--Logo no navbar-->
                    <div class="navbar-brand d-lg-none d-xxl-none">
                        <a href="#top"> <img src="{{empresa.logo.url}}" class="img-fluid"  style="height: 40px;"> </a> <!--#TODO Arrumar quando não tiver item-->
                    </div>
                    
                    <!--Menu sanduiche do navbar-->
                    <button class="navbar-toggler" style="border-color: rgb(255,255,255);" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!--Os botões do navbar-->
                    <div class="collapse navbar-collapse" id="menu">
                        <div class="nav navbar-nav">
                            <a class="nav-link" style="color: #e89b49; margin-right: 35px " href="#empresa">Empresa</a>
                            <a class="nav-link" style="color: #e89b49; margin-right: 35px;" href="#produtos">Produtos</a>
                            <a class="nav-link" style="color: #e89b49; " href="#contato">Contato</a>
                        </div>
                    </div>

                </nav>        

            </div>
        </div>

    </header>
    <main>
         <!-- Carrossel de imagens -->
         {% if carrosseis %}
            <div id="carrosselImagens" class="carousel slide carousel-fade" data-bs-ride='carousel' >
                <div class="carousel-inner">
                    {% for carrossel in carrosseis %}
                        <!--#TODO arrumar proporção entre itens-->
                        {% if forloop.first %}
                            <div class="carousel-item active" style="max-height: 680px;">
                                <img src="{{ carrossel.imagem.url }}" class="d-block w-100" alt="Slider {{ forloop.counter0 }}"/>
                            </div>

                        {% else %}
                            <div class="carousel-item" style="max-height: 680px;">
                                <img src="{{ carrossel.imagem.url }}" class="d-block w-100" alt="Slider {{ forloop.counter0 }}"/>
                            </div>
                        {% endif %}

                    {% endfor %}
                    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carrosselImagens"  data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>        
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carrosselImagens"  data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
        
            </div>
        {% endif %}

        <!--Empresa-->
        <div id="empresa"></div>
        <div class="container-fluid" style="background-color: rgba(210, 226, 138, 0.74); padding-top: 50px; padding-bottom: 50px">
            <div class="container text-center">
                
                <h1 class="text-uppercase" style="padding-bottom: 10px;">Empresa</h1>
               
                <h4 style="font-size: 20px;">
                    {%  if empresa.texto %}
                        {{ empresa.texto|linebreaks }}
                    {% else %}
                        <p> SEM TEXTO DE REFERENCIA </p> 
                    {% endif %}
                </h4>

            </div>
        </div>  

        <!--Produtos-->
        <div id="produtos"></div>
        <div class="container-fluid" style="background-color: rgba(210, 226, 138, 0.48); padding-top: 50px; padding-bottom: 50px">
            <div class="container" >
                
                <h1 class="text-uppercase text-center" style="padding-bottom: 10px;">produtos</h1>
            
                <!--HREF eh a referencia para a imagem interna , e o SRC é para imagem externa no DOM-->
                <div class="row">

                    {% if categorias %}
                        {% for catego in categorias %}
                            <div class="col-sm-4 " style="margin-top: 10px; margin-bottom: 10px;">
                                <div class="box-produto-img" >
                                    <a data-fancybox="images-{{ catego.nome_da_categoria }}"

                                    {% if catego.produto_de_capa is None %}
                                    href="{% static 'home/img/sem-imagem-de-capa.png' %}" data-caption="Sem imagem de capa" >
                                        <img class="img-fluid" src="{% static 'home/img/sem-imagem-de-capa.png' %}" style="height: 300px; width: 100%;">
        
                                    {% elif catego.produto_de_capa is not None %}
                                    href="{{ catego.produto_de_capa.imagem.url }}" data-caption="{{ catego.produto_de_capa.nome_do_produto }}" >
                                        <img class="img-fluid" src="{{ catego.produto_de_capa.imagem.url }}" style="height: 300px; width: 100%;">
                                    
                                    {% endif %}

                                        <div class="overlay">
                                            <div class="texto-info text-uppercase">
                                                <h4>{{ catego.nome_da_categoria }}</h4>
                                            </div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                    {% endif %}

                    
                    {% for produto in produtos %}
                        {% if produto.capa == False %}
                            <div style="display: none;">
                                <a href="{{ produto.imagem.url }}" data-fancybox="images-{{ produto.categoria }}" 
                                data-caption="{{ produto.nome_do_produto }}"
                                data-thumb="{{ produto.imagem.url }}"></a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                
            </div>
        </div>

        <!--Imagem do rodape-->
        {% if rodape %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 " style="height: 450px; background-image: 
                        {% for imagempe in rodape %}
                            url('{{ imagempe.imagem.url }}')
                        {% endfor %}
                        ; background-position: center center; background-size: cover;">
                    </div>
                </div>
            </div>
        {% endif %}

    </main>

    <footer>

        <!--Encontre-nos-->
        {% if empresa.geo_localizacao %}
            <div id="contato"></div>
            <div class="container-fluid " style="background-color: rgba(210, 226, 138, 0.74); padding-top: 15px; padding-left: 0px; padding-right: 0px;">
                <h1 class="text-uppercase text-center m-0" style="padding-bottom: 25px;">Encontre-nos</h1>
            </div>  
            <div style="background-color: rgba(34, 34, 34)">
                <iframe title="Localização {{ empresa.nome_da_empresa }}" frameborder="0" height ="350" style="border:0; width: 100%;" src="{{ empresa.geo_localizacao }}" allowfullscreen></iframe> <!--#TODO Arrumar quando não tiver item-->
            </div>
        {% endif %}

        <!--Contato-->
        <div class="container-fluid" style="background-color: rgba(34, 34, 34); padding-top: 50px; padding-bottom: 50px">
           <div class="container">
               <div class="row">

                    <!--Formulario email #TODO-->
                    <div class="col-md-6" style="background-color: rgb(255, 255, 255);padding-right: 40px; padding-left: 40px; padding-bottom: 40px; padding-top: 30px; margin-top: -100px; width:550px">
                        <form>
                            <h3 class= "text-center text-uppercase" style="color: #444; margin-bottom: 20px;"><strong>Contato</strong></h3>
                            <div>
                                <input type="text" class="form-control" id="formulario-nome" placeholder="Nome">
                            </div>
                            <div>
                                <input type="text" class="form-control" id="formulario-telefone" placeholder="Telefone">
                            </div>
                            <div>
                                <input type="text" class="form-control" id="formulario-email" placeholder="E-mail">
                            </div>
                            <div>  
                                <textarea class="form-control" id="formulario-texto" rows="3" placeholder="Mensagem"></textarea>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary" id="submit">Enviar</button>
                            </div>
                        </form>
                    </div>

                    <!--Informações-->
                    <div class="col-md-6 caixa" >
                        <div class="row rodape" >
                            <div class="col-lg-12" >
                                {% if empresa.endereco and empresa.cidade and empresa.estado %}
                                    <h5><i class="icon-rodape fas fa-map-marker-alt"></i> {{empresa.endereco}} - {{empresa.cidade}} - {{empresa.estado}}</h5> 
                                {% else %}
                                    <p style="font-size: 18px; margin-bottom: 0;">AVISO: Sem endereço, cidade e estado.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row rodape">
                            <div class="col-lg-12">
                                {% if empresa.telefone1 and empresa.ddd %}
                                    <h5><i class="icon-rodape fas fa-phone-alt"></i> +55 ({{empresa.ddd}}) <a href="tel:({{empresa.ddd}}){{empresa.telefone1}}" class="text-decoration-none"> {{empresa.telefone1}}</a> 
                                        {% if empresa.telefone2 %}
                                            |<a href="tel:({{empresa.ddd}}){{empresa.telefone2}}" class="text-decoration-none"> {{empresa.telefone2}}</a></h5> 
                                        {% endif %} 
                                {% else %}
                                    <p style="font-size: 18px; margin-bottom: 0;">AVISO: Sem telefone 1 ou DDD.</p>
                                {% endif %}
                            </div>                      
                        </div>
                        <div class="row rodape">
                            <div class="col-lg-12">
                                {% if empresa.email %}
                                    <h5><i class="icon-rodape fas fa-envelope"></i> <a href="mailto:{{empresa.email}}" class="text-decoration-none">{{empresa.email}}</a></h5>
                                {% else %}
                                    <p style="font-size: 18px; margin-bottom: 0;">AVISO: Sem e-mail.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

               </div>
           </div>
        </div>

    </footer>
</body>

{% endblock %}